body {
    margin: 0;
    padding: 0;
    background-color: #141414;
    font-family: 'Exo 2','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER */
.header{
    display: flex;
    height: 6vh;
    /* background-color: yellow; */
    justify-content: center;
    border-bottom: 1px solid #e50914;
}

.janela .header{
    width: 100%;
}

.janela .header .navbar{
    width: 35vw;
    justify-content: space-between;
}

.header .container{
    display: flex;
    width: 90vw;
    /* background-color: #000; */
    align-items: center; /* alinhar nome do site*/
}

.header h1{
    color: #e50914;
    font-size: 2vw;
}

/* COMEÇO NAVBAR */
.navbar{
    display: flex;
    width: 15vw;
    /* background-color: red; */
    list-style: none;
    justify-content: space-between;
    align-self: end;
    font-size: 0.8vw;
}

.navbar a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #FFF;
}

.navbar a:hover{
    color: #e50914;
    transition: .4s;
}

.destaque{
    color: white;
}
/* FIM NAVBAR */

/* BANNER */
.banner{
    background-image: url(./assets/bg_test.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    height: 60vh;
    background-color: #2c2b2b;
    color: white;
    border-bottom: 1px solid #e50914;
}
.banner .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.banner .left-container{
    display: flex;
    width: 40vw;
    height: 60vh;
    text-align: justify;
    flex-direction: column;
    justify-content: center;
    float: left;
}

.banner .left-container h1{
    margin: 0;
    text-align: left;
    color: #e50914;
    font-size: 3vw;
}


.banner .left-container p{
    font-size: 1.5vw;
}

.banner .left-container span{
    font-size: 1.4vw;
    cursor: pointer;
}


.banner .right-container{
    width: 45vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.banner .right-container .card p{
    padding: 15px;
    font-size: 1.3vw;
}

#popcorn{
    transform: scale(0.9);
    transition-duration: 0.5s;
    width: 50%;
}

#popcorn:hover{
    transform: scale(1);
}

.banner .card{
    border-radius: 20px;
    background-color: rgba(24, 24, 24, 0.753);
    transform: scale(0.8);
    transition-duration: 0.5s;
}

.valores{
    color:rgb(255, 0, 0);
    font-weight:500;
}

#btn_voltar{
    width: 3vw;
    /* margin-bottom: 50px; */
    transform: scale(0.9);
    transition-duration: 0.5s;
    align-self: center;
}

#btn_voltar:hover{
    transform: scale(1);
}

/* TEXTO SOBRE O AUTOR */
.banner .card h1{
    display: flex;
    justify-content: center;
    color: #e50914;
}

.banner .card h3{
    padding: 20px;
}

.banner .card:hover{
    transform: scale(0.9);
}

/* BOXES */

.boxes{
    color: white;
    width: 95%;
    margin: auto;
}

.boxes .container{
    font-size: 0.8vw;
}

/* TAMANHO DO CARD */
.boxes .container img{
    transform: scale(0.9);
    transition-duration: 0.5s;
    width: 18vw;
    cursor: pointer;
}

/* ANIMAÇÃO DOS CARDS */
.boxes .container img:hover{
    transform: scale(1);
}

/* FOOTER */
.footer{
    border-top: 1px solid #e50914;
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    height: 10vh;
    color: white;
    font-size: 0.9vw;
}

.footer img{
    width: 1vw;
    margin: 2px;
}

.footer a{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
}

/* ESTILIZAÇÃO DE BOTÃO */
button{
    cursor: pointer;
}

/* ESTILIZAÇÃO BOTÃO VOLTAR (TRAILER) */
#voltar{
    width: 5%;
    height: 5%;
    position: absolute;
    margin-right: 90%;
}

/* ESTILIZAÇÃO DE IMG */
img{
    cursor: pointer;
}

/* ESTILIZAÇÃO CARDBOARD INDEX */
#cardboard{
    cursor: pointer;
}

/* SEÇÃO COMENTARIO */

.part_comentario {
    display: flex;
    background-color: #161618;
    /* justify-content: center; */
  }

  .part_comentario .comentarios {
    width: 50%;
    /* border: 3px solid pink; */
    color: rgb(216, 216, 216);
    font-family: "Exo 2", sans-serif;
    padding-left: 5%;
  }
  
  .part_comentario .comentarios .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  
  .part_comentario .comentarios .container .div-form {
    width: 100%;
  }
  
  .part_comentario .comentarios .container .div-form #form_postagem {
    width: 100%;
  }
  
  .part_comentario .comentarios .div-form label {
    width: 100%;
  }
  
  .part_comentario .comentarios .div-form input {
    width: 100%;
    border-radius: 5px;
    font-size: 30px;
  }
  
  .part_comentario .comentarios .div-form textarea {
    width: 100%;
    /* color: #E6005A; */
    border: 3px solid #e90514;
    background-color: white;
    border-radius: 5px;
    font-size: 30px;
  }
  
  .part_comentario .comentarios .div-form button {
    cursor: pointer;
    font-family: "Exo 2", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #e90514;
    width: 120px;
  }
  
  .publicacao-btn-editar {
    cursor: pointer;
    font-family: "Exo 2", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 8px;
    color: white;
    background-color: #e90514;
    width: 80px;
  }
  
  .publicacao {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border-bottom: 3px solid #e90514;
    padding: 20px;
  }
  
  .publicacao > *:not(:last-child) {
    padding: 0 0 10px 0;
  }
  
  .div-results {
    width: 100%;
  }
  
  .div-results .feed-container {
    background-color: #212124;
    border-radius: 5px;
    margin-bottom: 80px;
  }
  
  .div-buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  .div-buttons > * {
    margin-left: 30px;
  }
  