body {
    margin: 0;
    padding: 0;
    background-color: #141414;
    font-family: 'Exo 2','Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER */
.header{
    display: flex;
    height: 60px;
    /* background-color: yellow; */
    justify-content: center;
    border-bottom: 1px solid #e50914;
}

.header .container{
    display: flex;
    width: 90%;
    /* background-color: #000; */
    align-items: center; /* alinhar nome do site*/
}

.header h1{
    color: #e50914;
}

/* COMEÇO NAVBAR */
.navbar{
    display: flex;
    width: 15vw;
    /* background-color: red; */
    list-style: none;
    justify-content: space-between;
    align-self: end;
}

.navbar a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #FFF;
}

.navbar a:hover{
    color: #e50914;
    transition: .4s;
}

.destaque{
    color: white;
}
/* FIM NAVBAR */

/* BANNER */
.banner{
    background-image: url(./assets/bg_test.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    height: 60vh;
    background-color: #2c2b2b;
    color: white;
    border-bottom: 1px solid #e50914;
}
.banner .container{
    height: 100%;
    width: 95%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.banner .left-container{
    width: 50vw;
    height: 60vh;
    text-align: justify;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    overflow: hidden;
}

.banner .left-container h1{
    margin: 0;
    text-align: left;
    /* font-size: 3em; */
    color: #e50914;
}


.banner .left-container p{
    font-size: 1.4em;
}


.banner .right-container{
    width: 45%;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.banner .right-container .card p{
    padding: 15px;
}

#popcorn{
    transform: scale(0.9);
    transition-duration: 0.5s;
    width: 50%;
}

#popcorn:hover{
    transform: scale(1);
}

.banner .card{
    border-radius: 20px;
    background-color: rgba(24, 24, 24, 0.315);
    transform: scale(0.8);
    transition-duration: 0.5s;
}

#btn_voltar{
    width: 3vw;
    /* margin-bottom: 50px; */
    transform: scale(0.9);
    transition-duration: 0.5s;
    align-self: center;
}

#btn_voltar:hover{
    transform: scale(1);
}

/* TEXTO SOBRE O AUTOR */
.banner .card h1{
    display: flex;
    justify-content: center;
    color: #e50914;
}

.banner .card h3{
    padding: 20px;
}

.banner .card:hover{
    transform: scale(0.9);
}

/* BOXES */

.boxes{
    color: white;
    width: 95%;
    margin: auto;
}

/* TAMANHO DO CARD */
.boxes .container img{
    transform: scale(0.9);
    transition-duration: 0.5s;
    width: 18vw;
}

/* ANIMAÇÃO DOS CARDS */
.boxes .container img:hover{
    transform: scale(1);
}

/* FOOTER */
.footer{
    border-top: 1px solid #e50914;
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    height: 10vh;
    color: white;
}

.footer img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.footer a{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
}